<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Game Portal by piyal hossein" name="keywords">
    <meta content="Game Portal is a website. where you can find some basic but fun game made by me." name="description">
    <title>{% block title %}Game Portal - some web game made by piyal hossein{% endblock title %}</title>
    {% block staticfileslinks %}

    {% endblock staticfileslinks %}
</head>
<body>
    {% block container %}
    {% endblock container %}
</body>
</html>